.container {
  margin: 100px 80px;
  background-image: url('../../img/laptop-3196481_1280.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.title {
  font-weight: 700;
}

.subTitle {
  font-weight: 500;
  font-style: italic;
}

.item {
  display: flex;
  margin: 10px 0;
}

.link {
  --color: #646b8c;

  position: relative;
  text-decoration: none;
  color: var(--color);
  font-family: 'Inter', sans-serif;
  padding: 0.2rem 0;
}

.link::before {
  --line-width: 115%;
  --line-height: 1px;
  --line-easing: ease;
  --line-transition-duration: 300ms;

  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: var(--line-width);
  height: var(--line-height);
  transform-origin: right;
  transform: scaleX(0);
  background-color: transparent;
  transition: transform var(--line-transition-duration) var(--line-easing),
    background-color var(--line-transition-duration) var(--line-easing);
  z-index: 1;
}

.link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
  background: var(--color);
}

.link:hover span {
  --deg: -45deg;
}

.link:hover span::before {
  transform: rotate(var(--deg));
}

.link:hover span::after {
  transform: translateX(-1px) rotate(var(--deg));
}

.link span {
  --line-arrow-width: 1px;
  --line-arrow-height: 6px;
  --line-arrow-easing: cubic-bezier(0.3, 1.5, 0.5, 1);
  --line-arrow-transition-duration: 300ms;
  --line-arrow-transition-delay: 0ms;
}

.link span::before,
.link span::after {
  content: '';
  position: absolute;
  right: -18%;
  bottom: 0;
  background-color: transparent;
  transition: transform var(--line-arrow-transition-duration)
      var(--line-arrow-easing),
    background-color var(--line-arrow-transition-duration)
      var(--line-arrow-easing);
  transition-delay: var(--line-arrow-transition-delay);
  z-index: 2;
}

.link:hover span::before,
.link:hover span::after {
  background: var(--color);
}

.link span::before {
  width: var(--line-arrow-width);
  height: var(--line-arrow-height);
  transform-origin: 0% 100%;
  transform: rotate(-90deg);
}

.link span::after {
  height: var(--line-arrow-width);
  width: var(--line-arrow-height);
  transform-origin: 100% 0%;
  transform: translateX(-1px) rotate(0deg);
}
