.social {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 20px;
}

.iconSvg {
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.icon {
  fill: var(--gray-400);
  stroke: var(--gray-400);
}

.icon,
.iconSvg {
  transition: all 300ms ease;
}

.linkSocial:hover .iconSvg {
  transform: scale(1.1);
}

.linkSocial:hover .icon {
  stroke: var(--primary-500);
  fill: var(--primary-500);
}
