.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form {
  width: 100%;
  max-width: 400px;
  background-color: #f9f9f9;
  padding: 20px 0;
  border-radius: 8px;
}

.form--signup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form--heading {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.inputGroup {
  margin-bottom: 15px;
  width: 100%;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input {
  width: 350px;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid var(--dark-gray-400);
  background-color: transparent;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 5px;
  resize: vertical;
  transition: border-bottom 0.3s ease;
}

.input:focus,
.input:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--primary-500);
}

.input:focus::placeholder,
.imput:focus-visible::placeholder {
  color: var(--primary-500);
}

[id='message'] {
  border: 1px solid var(--dark-gray-400);
  border-radius: 5px;
  resize: none;
}

[id='message']:focus,
[id='message']:focus-visible {
  outline: none;
  border: 1px solid var(--primary-500);
}

.divButton {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.button {
  width: 200px;
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #45a049;
}
