.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgb(247, 248, 249) 0%,
    rgb(247, 248, 249) 100%
  );
  height: 100vh;
}
.hero {
  border-radius: 24px;
  background-image: url(../../img/pexels-pixabay-257856.jpg);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--gray-900);
}
.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--white-900);
  margin-bottom: 25px;
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.339);
}
.btn {
  display: block;
  margin: 0 auto;
  width: 300px;
  padding: 12px 0;
  background-color: var(--primary-500);
  color: #ffffff;
  border: none;
  border-radius: 6px;
  font-size: 1.2em;
  cursor: pointer;
  margin-top: 30px;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
  background-color: #23a352;
}
@media screen and (min-width: 768px) {
  .btn {
    width: 500px;
    font-size: 1.6em;
  }
  .title {
    font-size: 50px;
  }
}
@media screen and (min-width: 1440px) {
  .btn {
    width: 600px;
    font-size: 1.6em;
  }
  .title {
    font-size: 60px;
  }
}
