.container {
  padding-top: 80px;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 80px;
}
.div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
}
.rightWrapper {
  align-items: flex-start;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.title {
  font-weight: bold;
  color: #2c3e50;
  margin-bottom: 20px;
  text-align: center;
  font-size: 12em;
  letter-spacing: -3px;
}
.leftWrapper {
  max-width: 900px;
  padding: 20px;
  margin: 10px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}
.centerWrapper {
}
.box {
  max-width: 500px;
}
.subtitle {
  font-size: 36px;
  font-weight: 600;
  color: #2c3e50;
}
.text {
  margin-bottom: 40px;
  font-size: 1em;
  color: #34495e;
}
