.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.item {
  margin: 0 10px;
  position: relative;
}
.link {
  text-decoration: none;
  color: var(--gray-500);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  transition: background-color 0.3s ease, text-transform 0.3s ease;
}

.link:hover {
  color: var(--primary-500);
}
.link:global(.active) {
  color: var(--primary-500);
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;

  width: 100%;
  z-index: 1000;
}

.dropdownItem {
  background-color: var(--white-900);
  margin: 0;
  border-top: 1px solid #ccc;
  text-align: center;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 5px;
}

.dropdownItem:first-child {
  border-top: none;
}

.dropdownLink {
  text-decoration: none;
  color: var(--gray-500);
  padding: 10px 20px;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  transition: background-color 0.3s ease, text-transform 0.3s ease;
}

.item:hover .dropdown {
  display: block;
}
.dropdownLink:hover {
  color: var(--primary-500);
}
