.menu {
  display: none;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1440px) {
  .mobile {
    display: flex;
  }
  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .item {
    margin: 0 10px;
    position: relative;
  }

  .link {
    text-decoration: none;
    color: var(--gray-500);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    transition: color 0.3s ease;
  }

  .link:hover {
    color: var(--primary-500);
  }

  .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--white-900);
    width: max-content;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    z-index: 1000;
    opacity: 0;
    transform-origin: top center;
    transform: scaleY(0);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  .item:hover .dropdown {
    display: block;
    opacity: 1;
    transform: scaleY(1);
  }

  .dropdownItem {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-align: center;
  }

  .dropdownLink {
    text-decoration: none;
    color: var(--gray-500);
    padding: 10px 20px;
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    transition: background-color 0.3s ease, text-transform 0.3s ease,
      color 0.3s ease;
  }

  .dropdownLink:hover {
    color: var(--primary-500);
  }

  .fadeIn {
    animation: fadeIn 0.3s ease-in-out;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
