.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}

.modal.show {
  display: flex;
}

.modalBox {
  width: 700px;
  height: 400px;
  background: white;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 0 rgba(51, 51, 51, 0.2);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.children {
  margin-top: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}
