.overlay {
  position: fixed;
  min-width: 360px;
  width: 100%;
  z-index: 999;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgb(247, 248, 249) 0%,
    rgb(247, 248, 249) 100%
  );
  border-bottom: solid 1px gray;
  border-radius: 2px;
}

.mobileButton {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  display: flex;
}
.mobileButton::before {
  content: '';
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  background-image: url(../../img/burger-menu.svg);
  position: absolute;
}
.overlayMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 80px;
  border-bottom-left-radius: 80px 80px;
  border-bottom-right-radius: 80px 80px;
  width: 100%;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgb(247, 248, 249) 0%,
    rgb(247, 248, 249) 100%
  );
  border-bottom: solid 1px gray;
}
.content {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}
.contentActive {
  display: flex;
}
.btn {
  width: 150px;
  height: 40px;
  margin: 10px 0;
  border-radius: 10px;
  color: var(--white-900);
  background-color: var(--primary-500);
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  background-color: #23a352;
}

@media screen and (min-width: 768px) {
  .overlay {
    width: 100%;
  }
}
@media screen and (min-width: 1440px) {
  .mobileButton {
    display: none;
  }

  .content {
    display: flex;
    flex-direction: row;
  }
  .searchBox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .filteredList {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--white-900);
    width: 360px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    z-index: 1000;
    opacity: 0;
    transform-origin: top center;
    transform: scaleY(0);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  .active {
    display: block;
    opacity: 1;
    transform: scaleY(1);
  }

  .item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-align: center;
  }

  .item:last-child {
    border-bottom: none;
  }

  .btn {
    width: 150px;
    height: 40px;
    margin: 10px 0;
    border-radius: 10px;
    color: var(--white-900);
    background-color: var(--primary-500);
    transition: background-color 0.3s ease;
    margin-right: 20px;
  }

  .btn:hover {
    background-color: #23a352;
  }
}
