.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80px;
}
.search {
  position: relative;
  color: var(--gray-500);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  transition: background-color 0.3s ease;
}
