.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 300px;
}

.search-input {
  position: relative;
  display: flex;
  width: 100%;
  border: 1px solid var(--gray-200);
  border-radius: 8px;
  padding: 10px 14px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  background: var(--white-900);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #667085;
}

.search-button {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  border-radius: 3px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.search-button::before {
  content: '';
  background-image: url('../../../img/search.svg');
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
}

.search-input:focus {
  outline: none;
  border-color: #4caf50;
  box-shadow: 0 0 0 2px rgba(76, 175, 80, 0.2);
  background: var(--white-900);
}
