.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 96px 28px 168px 28px;
  padding: 0 20px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.container.visible {
  opacity: 1;
}

.title {
  font-size: 36px;
  margin-bottom: 18px;
}

.item {
  padding: 10px 0;
}

.btn {
  width: 250px;
  height: 60px;
  margin: 30px 0;
  font-size: 18px;
  border-radius: 10px;
  color: var(--white-900);
  background-color: var(--primary-500);
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #23a352;
}

.logoContainer {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  gap: 100px;
  justify-content: space-around;
}

.logoContainer > li {
  width: 150px;
}

.logoImg {
  width: 150px;
  height: 130px;
  border-radius: 15px;
  transition: scale 300ms ease;
}

.logoImg:hover {
  scale: 1.1;
}
