.container {
  padding: 20px;
  margin: 10px;
  margin-top: 48px;
  max-width: 1000px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  cursor: default;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

.title {
  font-size: 28px;
  font-weight: bold;
  color: #2c3e50;
  margin-bottom: 20px;
  text-align: center;
  position: relative;
}

.title:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -10px;
  width: 50px;
  height: 3px;
  background-color: var(--primary-500);
  transform: translateX(-50%);
}

.list {
  max-height: 250px;
  overflow: hidden;
  transition: max-height 0.6s ease;
}

.list.showMore {
  max-height: none;
}

.item {
  font-size: 1.2em;
  color: #34495e;
  margin: 15px 0;
  padding-left: 30px;
  position: relative;
  transition: color 0.3s ease;
}

.item:before {
  content: '✔';
  color: var(--primary-500);
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.2em;
}

.item:hover {
  color: var(--primary-500);
}

.accreditation {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 16px;
}

.accreditationText {
  font-size: 26px;
  color: #34495e;
  text-align: justify;
  font-style: italic;
}

.btn {
  display: block;
  margin: 0 auto;
  width: 250px;
  padding: 12px 0;
  background-color: var(--primary-500);
  color: #ffffff;
  border: none;
  border-radius: 6px;
  font-size: 1.2em;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
  background-color: #23a352;
  transform: translateY(-2px);
}

.logoContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 40px;
}

.logo_item {
  display: inherit;
  align-items: center;
  margin: 15px;
  position: relative;

}
/* .logo_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  position: relative;
}
.logoImg {
  max-width: 100px;
  height: auto;
}
.logoName {
  margin-top: 150px;
  text-align: center;
  position: absolute;
} */


.logoImg {
  max-width: 100px;
  height: auto;
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0.8;

  object-fit: contain;
}

.logoName{
  position: absolute;
  bottom: -20px; 

  font-size: 1.2em;
  color: #34495e;
  width: 200px;
  height: 30px;
  text-align: center;
  line-height: 30px; 

}

.logoImg:hover {
  transform: scale(1.5);
  opacity: 1;
}

/* Медиа-запрос для экранов шире 768px */
@media screen and (min-width: 768px) {
  .container {
    padding: 30px;
    margin: 0 auto;
    margin-top: 64px;
  }

  .title {
    font-size: 3em;
  }

  .list {
    max-height: none;
  }

  .item {
    font-size: 1.3em;
    margin: 20px 0;
  }

  .btn {
    display: none;
  }

  .logoImg {
    max-width: 120px;
  }
}

/* Медиа-запрос для экранов шире 1440px */
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1300px;
    padding: 40px;
  }

  .title {
    font-size: 3.5em;
  }

  .item {
    font-size: 1.4em;
  }

  .btn {
    width: 500px;
    font-size: 1.6em;
  }

  .logoImg {
    max-width: 140px;
  }
}
