.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 20px;
  padding: 20px 10px;
  background-color: var(--gray-900);
  background-image: radial-gradient(
      circle,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 50%,
      rgba(255, 255, 255, 0.027) 100%
    ),
    url('../../img/Frame.png');
}

.column {
  width: 100%;
  padding: 0 10px;
  margin-bottom: 20px;
}

.column > h1 {
  color: var(--white-900);
}

.column:nth-of-type(1),
.column:nth-of-type(2),
.column:nth-of-type(3) {
  text-align: center;
}

.list > li {
  color: var(--gray-400);
  padding: 5px 0;
}

/* effect-underline */
.link {
  position: relative;
  display: inline-block;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.link:after {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 10px;
  opacity: 0;
  transition: opacity 0.35s, transform 0.35s;
  transform: scale(0, 1);
}

.link:hover:after {
  opacity: 1;
  transform: scale(1);
}

.inputContainer {
  position: relative;
  display: inline-block;
  margin-top: 10px;
}

.inputContainer > input {
  width: 100%;
  padding-right: 40px;
  height: 25px;
  border-radius: 5px;
}

.inputContainer > button {
  position: absolute;
  top: 50%;
  right: 1px;
  transform: translateY(-50%);
  height: 28px;
  padding: 0 5px;
  color: var(--white-900);
  background-color: var(--primary-500);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: background-color 0.3s ease;
}

.inputContainer > button:hover {
  background-color: #23a352;
}

.inputForm:focus {
  outline: none;
  box-shadow: 0.5px 0.5px 0.5px 0.5px var(--primary-500);
  background: var(--white-900);
}

.social {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 20px;
}

.iconSvg {
  width: 24px;
  height: 24px;
}

.icon {
  fill: var(--gray-400);
  stroke: var(--gray-400);
}

.icon,
.iconSvg {
  transition: all 300ms ease;
}

.linkSocial:hover .iconSvg {
  transform: scale(1.1);
}

.linkSocial:hover .icon {
  stroke: var(--primary-500);
  fill: var(--primary-500);
}
@media (min-width: 768px) {
  .container {
    flex-direction: row;
    justify-content: space-between;
    text-align: initial;
    margin-top: 40px;
    padding: 40px 20px;
  }

  .column {
    width: calc(100% / 3 - 40px);
    padding: 0 20px;
    margin-bottom: 0;
  }

  .column:nth-of-type(1) {
    text-align: left;
  }

  .column:nth-of-type(2) {
    text-align: center;
  }

  .column:nth-of-type(3) {
    text-align: right;
  }

  .inputContainer > input {
    width: calc(100% - 60px);
  }

  .social {
    justify-content: flex-end;
  }
}

@media (min-width: 1440px) {
  .container {
    justify-content: center;
    padding: 40px 60px;
  }

  .column {
    width: calc(100% / 3 - 80px);
    max-width: 400px;
  }

  .inputContainer > input {
    width: calc(100% - 80px);
  }
}
