:root {
  --font-family: 'Poppins', sans-serif;
  --white-900: #fff;
  --black-900: #000;
  --gray-050: #f7f8f9;
  --gray-100: #eef0f3;
  --gray-200: #d5dae1;
  --gray-300: #bbc3cf;
  --gray-400: #8896ab;
  --gray-500: #556987;
  --gray-600: #4d5f7a;
  --gray-700: #404f65;
  --gray-800: #333f51;
  --gray-900: #2a3342;
  --primary-050: #f0fdf4;
  --primary-100: #dcfce7;
  --primary-200: #bbf7d0;
  --primary-300: #86efac;
  --primary-400: #4ade80;
  --primary-500: #22c55e;
  --primary-600: #16a34a;
  --primary-700: #15803d;
  --primary-800: #166534;
  --primary-900: #14532d;
  --secondary-050: #fbf7ff;
  --secondary-100: #f6eefe;
  --secondary-200: #e9d5fd;
  --secondary-300: #dcbbfc;
  --secondary-400: #c288f9;
  --secondary-500: #a855f7;
  --secondary-600: #974dde;
  --secondary-700: #7e40b9;
  --secondary-800: #653394;
  --secondary-900: #522a79;
  --warning-050: #fffaf3;
  --warning-100: #fef5e7;
  --warning-200: #fde7c2;
  --warning-300: #fbd89d;
  --warning-400: #f8bb54;
  --warning-500: #f59e0b;
  --warning-600: #dd8e0a;
  --warning-700: #b87708;
  --warning-800: #935f07;
  --warning-900: #784d05;
  --danger-050: #fef7f6;
  --danger-100: #fdeeec;
  --danger-200: #fbd6d0;
  --danger-300: #f9bdb4;
  --danger-400: #f48b7c;
  --danger-500: #ef5944;
  --danger-600: #d7503d;
  --danger-700: #b34333;
  --danger-800: #8f3529;
  --danger-900: #752c21;
  --success-050: #f4fdf7;
  --success-100: #eafaf0;
  --success-200: #caf4d9;
  --success-300: #aaedc3;
  --success-400: #6adf95;
  --success-500: #2ad168;
  --success-600: #26bc5e;
  --success-700: #209d4e;
  --success-800: #197d3e;
  --success-900: #156633;
  --info-050: #f5f9ff;
  --info-100: #ebf3fe;
  --info-200: #cee0fd;
  --info-300: #b1cdfb;
  --info-400: #76a8f9;
  --info-500: #3b82f6;
  --info-600: #3575dd;
  --info-700: #2c62b9;
  --info-800: #234e94;
  --info-900: #1d4079;
  --dark-gray-050: #f5f6f7;
  --dark-gray-100: #ebedef;
  --dark-gray-200: #ced1d6;
  --dark-gray-300: #b0b5bd;
  --dark-gray-400: #757e8c;
  --dark-gray-500: #3a475b;
  --dark-gray-600: #344052;
  --dark-gray-700: #2c3544;
  --dark-gray-800: #232b37;
  --dark-gray-900: #1c232d;
}

html,
body {
  height: 100%;
  background: var(--gray-050);
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
}
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  height: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
label {
  margin: 0;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

div#root {
  height: 100%;
  width: 100%;
}

button {
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}
