.container {
  margin: 140px 0 80px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.container.visible {
  opacity: 1;
}

.title_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 48px;
}

.title {
  font-size: 36px;
  font-weight: 800;
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.339);
  padding-bottom: 5px;
}

.title_span {
  font-size: 16px;
  color: var(--gray-400);
}

.pricing_plan {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .pricing_plan {
    flex-direction: column;
  }
}
